#!/bin/bash
export PUBLIC_PORT=${PUBLIC_PORT:-8080}
export LOCAL_PORT=${LOCAL_PORT:-8080}

autossh -f -F "/tmp/{{ ngax_host.ssh_config.destination }}" -N -T \
    -R 0.0.0.0:11434:localhost:11434 \
    -R 0.0.0.0:3001:localhost:3001 \
    ngax-host